<footer class="footer position-relative">
      <div class="container">
        <div class="row align-items-center footer-section">
          <div class="col-lg-4 col-sm-12">
            <div>
              <div class="logo">
                <img src="assets/images/new-logo.png" alt="" />
              </div>
              <p>
                ​2700 Patriot Blvd, Suite 250 <br />
                Glenview, Illinois 60026 <br />
                hlenview, Illinois
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="useful-links">
              <p style="margin: 0">Useful Links</p>
              <div>
                <div class="useful-links-row">
                  <a href="operations-team.html">​Operations Team</a>
                  <a href="about.html" style="margin-left: 25px">About Us</a>
                </div>
                <div class="useful-links-row">
                  <a href="related-efforts.html">Reports & Brochures</a>
                  <a href="contactus.html">Contact Us</a>
                </div>
                <div class="useful-links-row">
                  <a href="#">Terms & Conditions</a>
                  <a href="#" style="margin-left: 10px">Privacy Policy</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="get-started-info">
              <p class="get-started">Get Started</p>
              <p id="get-started">
                knowing you're always on the <br />
                best energy deal.
              </p>
              <div style="position: relative; width: 300px">
                <input
                  class="phone-num-input"
                  type="text"
                  placeholder="Enter your phone Number"
                />
                <span
                  class="input-icon"
                  style="
                    position: absolute;
                    display: block;
                    right: 15px;
                    top: 5px;
                  "
                >
                  <a href="">
                    <img src="assets/images/input-icon.png" alt="" />
                  </a>
                </span>
              </div>

              <div class="social-icons">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="position-absolute top">
          <i class="fa-solid fa-angle-up"></i>
        </a>
        <p class="copy-write my-0">
          <script>
            document.write(new Date().getFullYear());
          </script>
          &copy; Americans For A Vibrant Palestinian Economy
          <span>All rights reserved.</span>
        </p>
      </div>
    </footer>