    <!-- Hero Image Section -->
    <section class="hero">
      <div class="overlay">
        <div class="contactus-title">
          <h2>Contact Us</h2>
        </div>
      </div>
    </section>

    <!-- Contact Us Section -->
    <div class="container my-5">
      <section class="contactus">
        <div class="personal-information">
          <span>​Send us your questions or comments:</span>
          <div class="row my-4">
            <div class="col-lg-6 col-sm-12">
              <div class="mb-3">
                <label for="first_name" class="form-label"
                  >First Name*</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="first_name"
                  placeholder="First Name"
                  [(ngModel)]="item.first_name" 
                />
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="mb-3">
                <label for="last_name" class="form-label"
                  >Last Name*</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="last_name"
                  placeholder="Last Name"
                  [(ngModel)]="item.last_name" 
                />
              </div>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-sm-12">
              <div class="mb-3">
                <label for="email" class="form-label"
                  >Email*</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Email"
                  [(ngModel)]="item.email" 
                />
              </div>
            </div>
          </div>
          <div class="my-4">
            <label for="message">Message*</label>
            <textarea
              placeholder="Message"
              class="form-control my-3"
              id="message"
              rows="5"
              [(ngModel)]="item.message" 
            ></textarea>
          </div>
          <div class="send-btn">
            <button  (click)="onSubmit()" class="w-100">Send</button>
          </div>
        </div>
        <div class="contact-information">
          <span>Contact Information</span>
          <div class="contact-info my-3">
            <i
              style="font-size: 20px"
              class="fa-solid fa-location-dot text-white"
            ></i>
            <span class="text-white"
              >{{details.contact_information.address}}</span
            >
          </div>
          <div class="contact-info my-3">
            <i
              style="font-size: 20px"
              class="fa-regular fa-envelope text-white"
            ></i>
            <span class="text-white">{{details.contact_information.email}}</span>
          </div>
          <div class="contact-info my-3">
            <i
              style="font-size: 20px"
              class="fa-brands fa-whatsapp text-white"
            ></i>
            <span class="text-white">{{details.contact_information.whats_up}}</span>
          </div>
          <div class="phone text-white my-4">
            <span>US Office</span>
            <p>{{details.contact_information.us_office}}</p>
          </div>
          <div class="fax text-white">
            <span>Fax</span>
            <p>{{details.contact_information.fax}}</p>
          </div>
        </div>
      </section>
      <div class="mapouter">
        <div class="gmap_canvas my-5">
          <google-map 

            width="1300px"
            height="700px"
            id="gmap_canvas"
            [center]="center"
            [zoom]="zoom">
            <map-marker #marker="mapMarker"
              *ngFor="let markerPosition of markerPositions"
              [position]="markerPosition"
              (mapClick)="openInfoWindow(marker)"></map-marker>
  <map-info-window>Info Window content</map-info-window>
          </google-map>
        </div>
      </div>
    </div>
