.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero {
    height: 900px;
    background-image: url('../assets/resources-images/teamwork-power-successful-business-meeting-workplace-concept.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.contactus-title>h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--white-color);
    margin-top: -150%;
}

.contactus {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: absolute;
    top: 400px;
    left: 350px;
}

.contactus>.personal-information {
    flex: 1.5;
    padding: 40px;
    background: var(--white-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contactus>.contact-information {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #082840;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 5%;
    padding-left: 5%;
}

.form-control,
.form-select {
    padding: 15px;
    border-radius: 10px;
}

.send-btn>button {
    padding: 15px;
    border-radius: 10px;
    background: var(--green-color);
    color: var(--white-color);
    border: none;
}

.contactus>.contact-information>span,
.phone>span,
.fax>span {
    color: var(--white-color);
    font-size: 1.45em;
    font-weight: bold;
}

.contact-info {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.mapouter {
    margin-top: 10%;
}

@media screen and (max-width: 912px) {
    .btn-contctus>button {
        width: 120px;
        height: 48px;
        font-size: 1em;
    }

    .hero {
        height: 500px;
    }

    .contactus {
        flex-direction: column;
        width: 100%;
        position: static;
    }

    .contactus-title>h2 {
        margin-top: 0;
    }

    /* Footer */
    .get-started-info {
        margin-top: 20px;
    }

    .top {
        bottom: 80px;
        right: 20px;
    }

    .copy-write {
        position: static;
        font-size: 0.9em;
    }

    .contactus>.personal-information {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .contactus>.contact-information {
        border-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}

@media screen and (min-width: 913px) and (max-width: 1024px) {
    .contactus {
        top: 400px;
        left: 12%;
    }
}