    <!-- Hero Image Section -->
    <section class="hero">
      <div class="overlay">
        <div class="volunteer">
          <h2>Volunteer</h2>
          <div>
            <a style="color: #6a994e" class="active-link" href=""
              >Donate <i style="color: #fff" class="fa-solid fa-angle-right"></i
            ></a>
            <a href="">Volunteer</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Volunteer Section -->
    <div class="container">
      <article class="my-5">
        <p>
          ​At the core of our mission is our ability to bring together American
          and Palestinian businesspeople by providing the information and
          context they each need to team up successfully. The key to this
          strategy is AVPE’s network in the U.S. and Palestine.
        </p>
        <p>
          We call on our robust and engaged network to assist us in connecting
          Palestinian and American companies – with sector information or
          contacts, expertise, or other types of detailed data. By joining our
          network you are joining a global community of people who support the
          growth and development of an independent a nd free Palestinian econom
        </p>
      </article>
      <article>
        <span>​How can you join this network?</span>
        <p class="my-3">
          ​Sign up for
          <a href="contactus.html" style="color: #8547ff">our email list</a>. We
          then send you regular updates on our work (our newsletter) and calls
          to action that detail specific requests we have from Palestinian
          companies. We ask you share your relevant expertise with us or,
          alternatively, link us to people in your network who may be able to
          offer assistance.
        </p>
        <p class="my-5">
          At AVPE we are a strong as the network we can build and each and every
          one of you is a part of that. Encourage people you know to join our
          email list and help us expand our reach and therefore our ability to
          fulfill requests from Palestinian companies. You can also support us
          by following us on our social media platforms (Facebook, Twitter,
          LinkedIn, and YouTube).
        </p>
        <span
          >​Join our network and help us fight for economic freedom for
          Palestine!</span
        >
      </article>
    </div>