<!-- Hero Image -->
    <section class="hero">
      <div class="green-background">
        <div class="content">
          <div class="article">
            <span>Building Bridges Of Change</span>
            <p>​To Help Palestinian Small and Medium Enterprises</p>
            <a class="btn" href="#donate">
              <button><i class="fa-solid fa-heart px-1"></i> Donate Now</button>
            </a>
            <div class="volunteer">
              <i class="fa-solid fa-arrow-right"></i
              ><a href="volunteer.html">​​Volunteer</a>
            </div>
          </div>
          <div class="hero-image">
            <img
              src="assets/resources-images/منشور فيديو أبيض رائج صورة متمركزة خدمات بشرية فيسبوك.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="gray-background"></div>
    </section>

    <!-- Donate Section -->
    <div class="container my-5" id="donate">
      <!-- <iframe style="height:700px; width:95%; border:1px solid #dddddd; " src="https://www.flipcause.com/hosted_widget/hostedWidgetHome/MTUwNTQ2" scrolling="no"></iframe>  -->
    <iframe style="height:700px; width:95%; border:1px solid #dddddd; " src="https://www.flipcause.com/hosted_widget/hostedWidgetHome/MTUyMTQ5" scrolling="no"></iframe>
      
      <article class="my-5">
        <span class="fw-bold"
          >Shifting Perspectives: Resetting U.S.-Palestine Business
          Opportunities</span
        >
        <p class="my-3">
          ​AVPE looks to the future with our eyes wide open, our hearts engaged,
          and a continued commitment to work toward a vibrant Palestinian
          economy. 2020 brought uncertainty and ‘new normals’ for the whole
          world. Today, we look to the future with hope for improved
          U.S.-Palestine relations and a new level of economic engagement
          between Palestinian and American businesspeople. AVPE is here to
          support Palestinians companies turn a difficult year into
          opportunities for the future
        </p>
      </article>
      <article>
        <span class="fw-bold"
          >Your gift supports the work of AVPE to shift perspectives and reset
          American-Palestinian business opportunities.</span
        >
        <p class="my-5">
          Give generously and support Palestinian businesspeople to better face
          the challenges of both COVID-19 and Israeli occupation. Your dollars
          help to connect Palestinian businesses with resources and know-how
          from the U.S. while simultaneously providing Americans a more informed
          image that appreciates the patience, resilience, and business savvy of
          the Palestinian people.
        </p>
      </article>
      <article>
        <p class="fw-bold my-5">
          Americans for a Vibrant Palestinian Economy (AVPE) is registered in
          the USA as a 501(c)(3) non-profit organization. Contributions to AVPE
          are tax-deductible to the extent permitted by law. AVPE's tax
          identification number is 47-1500245.
        </p>
      </article>
      <article>
        <p class="fw-bold">
          Americans for a Vibrant Palestinian Economy (AVPE) is registered in
          the USA as a 501(c)(3) non-profit organization. Contributions to AVPE
          are tax-deductible to the extent permitted by law. AVPE's tax
          identification number is 47-1500245.
        </p>
      </article>
    </div>